<h1>Cart</h1>

<table id="order-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |li| %>
      <tr>
        <td><%= link_to li.book.title, li.book %></td>
        <td><%= li.book.price.format %></td>
        <td><%= li.quantity %></td>
        <td>X</td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td><strong>Total:</strong><%= @order.total.format %></td>
      <td></td>
  </tbody>
</table>

<hr />

<%= link_to 'Show', @order %> |
<%= link_to 'Back', books_path %>
