<h1>Order</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published date</th>
      <th>Author</th>
      <th>Category</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |li| %>
      <tr>
        <td><%= link_to li.book.title, li.book %></td>
        <td><%= li.book.published_date %></td>
        <td><%= li.book.author %></td>
        <td><%= li.book.category %></td>
        <td><%= li.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
