<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<p>Sort By: <%= link_to "Most Popular", :sort => "popularity" %></p>

<table>
  <thead>
    <tr>
      <th><%= link_to "Title", :sort => "title" %></th>
      <th><%= link_to "Published date", :sort => "published_date" %></th>
      <th><%= link_to "Author", :sort => "author" %></th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class='col col-title'><%= link_to book.title, book %></td>
        <td class='col col-published_date'><%= book.published_date %></td>
        <td class='col col-author'><%= book.author %></td>
        <td class='col col-category'><%= book.category %></td>
      </tr>
    <% end %>
    <%= paginate @books %>
  </tbody>
</table>
