<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Published date</th>
      <th>Author</th>
      <th>Category</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class='col col-title'><%= link_to book.title, book %></td>
        <td class='col col-published_date'><%= book.published_date %></td>
        <td class='col col-author'><%= book.author %></td>
        <td class='col col-category'><%= book.category %></td>
      </tr>
    <% end %>
    <%= paginate @books %>
  </tbody>
</table>
