<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @book.published_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price.format %>
</p>

<%= form_tag add_to_cart_orders_path, method: "post", as: 'line_item' do %>
  <%= label_tag 'line_item_quantity', "Quantity" %>
  <%= text_field_tag 'line_item[quantity]', 1, id: 'line_item_quantity' %>
  <%= hidden_field_tag 'line_item[book_id]', @book.id %>
  <%= submit_tag "Add to Cart" %>
<% end %>

<%= link_to 'Back', books_path %>
