<!DOCTYPE html>
<html>
<head>
  <title>ApprenticeshipBookstoreApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<ul class="hmenu">
  <%= render 'menu/registration_items' %>
  <%= render 'menu/login_items' %>
  <%= render 'menu/cart' %>
</ul>

<%= yield %>

</body>
</html>
